{% assign image = page.footer | default: site.footer %}
{% assign dark = page.footer-dark | is_nil: site.footer-dark | is_nil: true %}

<footer
  class="background"
  style="--image: url('{{ image | relative_url | uri_escape }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  data-size="wide"
>
  <!--
    <div>
      Extra details like contact info or address
    </div>
  -->

  <div>
    
    {% if site.links.phone %}
      {% assign phone_link_url = "tel:" | append: site.links.phone %}
      {% include button.html type="phone" text="" link=phone_link_url style="bare" %}
    {% endif %}    
    {% if site.links.map_url_amap %}
      {% include button.html type="address" text="" link=site.links.map_url_amap style="bare" %}<br>
    {% endif %}

    {% if site.links.address %}
      <span>{{ site.links.address }}</span><br>
    {% endif %}

  </div>

  <div>
    &copy; {{ site.time | date: "%Y" }}
    {{ site.title }}
    
  </div>

  <input
    type="checkbox"
    class="dark-toggle"
    data-tooltip="Dark mode"
    aria-label="toggle dark mode"
    oninput="onDarkToggleChange(event)"
  >
</footer>
