{% assign filename = page.path | split: "/" | last %}
{% if page.name and page.name != filename %}
  {% assign title = page.name %}
{% elsif page.title %}
  {% assign title = page.title %}
{% else %}
  {% assign title = nil %}
{% endif %}


{% assign page_display_title = title | xml_escape %} 



{% assign fulltitle = site.title | xml_escape %}


{% assign translated_subtitle = "" %}
{% if site.show-subtitle != false %} 
  {% assign translated_subtitle = site_props.subtitle | t %} 
{% endif %}


{% assign translated_description = page.description | default: site_props.description | t %} 
{% if translated_subtitle and translated_subtitle != "" %} 
  {% capture translated_description -%}
    {{ translated_subtitle }}. {{ translated_description }}
  {%- endcapture %}
{% endif %}
{% capture url -%}
  {{ site.url }}{{ site.baseurl }}
{%- endcapture %}

{% assign final_description = translated_description | xml_escape %} 


{% assign png_icon_fs_path = "images/icon.png" | file_exists %}
{% assign jpg_icon_fs_path = "images/icon.jpg" | file_exists %}

{% assign found_icon_fs_path = nil %}
{% if png_icon_fs_path %}
  {% assign found_icon_fs_path = png_icon_fs_path %}
{% elsif jpg_icon_fs_path %}
  {% assign found_icon_fs_path = jpg_icon_fs_path %}
{% endif %}

{% assign icon_absolute_url = nil %}
{% if found_icon_fs_path %}
  
  {% assign icon_relative_web_path = found_icon_fs_path | replace: site.source, "" %}
  
  {% assign icon_absolute_url = icon_relative_web_path | prepend: site.baseurl_root %}
{% endif %}



{% assign jpg_share_fs_path = "images/share.jpg" | file_exists %}
{% assign png_share_fs_path = "images/share.png" | file_exists %}

{% assign found_share_fs_path = nil %}
{% if jpg_share_fs_path %}
  {% assign found_share_fs_path = jpg_share_fs_path %}
{% elsif png_share_fs_path %}
  {% assign found_share_fs_path = png_share_fs_path %}
{% endif %}

{% assign share_absolute_url = nil %}
{% if found_share_fs_path %}
  
  {% assign share_relative_web_path = found_share_fs_path | replace: site.source, "" %}
  
  {% assign share_absolute_url = share_relative_web_path | prepend: site.baseurl_root %}
{% endif %}



{% assign published = page.date | date_to_xmlschema %}
{% assign updated = page.last_modified_at | date_to_xmlschema %}

{% assign feed = "feed.xml" | absolute_url %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ fulltitle }}</title>

<link rel="icon" href="{{ icon_absolute_url }}"> 

<meta name="title" content="{{ page_display_title }}">
<meta name="description" content="{{ final_description }}">

<meta property="og:title" content="{{ page_display_title }}">
<meta property="og:site_title" content="{{ site.title | xml_escape }}">
<meta property="og:description" content="{{ final_description }}">
<meta property="og:url" content="{{ url }}">
<meta property="og:image" content="{{ share_absolute_url }}"> 
<meta property="og:locale" content="{{ site.lang }}_{{ site.lang | upcase }}">

<meta property="twitter:title" content="{{ page_display_title }}">
<meta property="twitter:description" content="{{ final_description }}">
<meta property="twitter:url" content="{{ url }}">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image" content="{{ share_absolute_url }}"> 

{% if page.author %}
  <meta name="author" content="{{ page.author | xml_escape }}">
  <meta property="og:type" content="article">
  <meta property="og:updated_time" content="{{ updated }}">
  <meta property="article:published_time" content="{{ published }}">
  <meta property="article:modified_time" content="{{ updated }}">
  <meta name="revised" content="{{ updated }}">
{% else %}
  <meta property="og:type" content="website">
{% endif %}

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    {% if page.author %}
      "@type": "BlogPosting",
      "author": { "@type": "Person", "name": "{{ page_display_title }}" },
      "datePublished": "{{ published }}",
      "dateModified": "{{ updated }}",
    {% else %}
      "@type": "WebSite",
    {% endif %}
    "name": "{{ page_display_title }}",
    "description": "{{ final_description }}",
    "headline": "{{ page_display_title }}",
    "publisher": {
      "@type": "Organization",
      "logo": { "@type": "ImageObject", "url": "{{ icon_absolute_url }}" } 
    },
    "url": "{{ url }}"
  }
</script>

<link rel="alternate" type="application/rss+xml" href="{{ feed }}">